@media (max-width: 600px) {
    .products {
        display: inherit;
        height: auto;
    }
    .product{
        margin-top: auto;
    }
    .main_section{
        padding: 4%;
    }
    .collections, .mentions, .productss{
        display: inherit;
    }
    .productss{
        display: inherit;
        height: auto;
    }
}
